<h1>Wordcount</h1>
Welcome to wordcount
<br>

<form action="{% url  'count' %}">
    <textarea name="fulltextarea" cols=40 rows=10></textarea>
    </br>
    <input type="submit" value="count"/>
</form>